<button type="button" class="btn btn-secondary"><a href="/user/create">Create Post</a></button>

<% if(myProjects.length === 0){%> 
<div>You donot have any post please create</div>
<% } else {%>
    <section>
        <div class="container mt-5 mb-3">
              <div class="row">
                  <% myProjects.forEach(item => { %>
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <!-- <div class="icon"> <i class="bx bxl-mailchimp"></i> </div> -->
                                  <div class="ms-2 c-details">
                                      <h6 class="mb-0"><%= item.userInfo[0].name %></h6> <span><%= item.userInfo[0].date %></span>
                                  </div>
                              </div>
                              <div class="badge"> <span>Design</span> </div>
                          </div>
                          <div class="mt-5">
                              <h1><%= item.name %></h1>
                              <h5 class="heading"><%= item.name %></h5>
                              <div class="mt-5">
                                  <div class="progress">
                                      <div class="progress-bar" role="progressbar" style="width: <%= item.progress %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <div class="mt-3"> <span class="text1"><%= item.progress %> % is completed </span> </div>
                                  
                                  <button href="#" class="card-link like" data-post="<%= JSON.stringify(item) %>" data-user="<%= JSON.stringify(session.user) %>" > <%= item.likes.length %> Like</button>
                                  <!-- <button href="#" class="card-link">Comment</button> -->
                                  
                                <form action="/user/edit" method="POST">
                                <input type="hidden" value="<%= item._id %>" name="id">
                                <button type="submit" class="btn btn-primary">Edit</button>
                                </form>
                                <form action="/user/edit/delete" method="POST">
                                    <input type="hidden" value="<%= item._id %>" name="id">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <% }) %>
              </div>
      </div>
      </section>
      <%}%>
<!-- <% myProjects.forEach(item => { %>
    <div>Project Name :- <%= item.name %></div>
    <div>Project Name :- <%= item.description %></div>
    <form action="/user/edit" method="POST">
        <input type="hidden" value="<%= item._id %>" name="id">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <form action="/user/edit/delete" method="POST">
        <input type="hidden" value="<%= item._id %>" name="id">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <button id="edit">Edit</button>
<% }) %> -->

<script>
//     const edit = document.getElementById('edit')
//     edit.addEventListener('submit', async function editPost(id) {
//         id.preventDefault()
//     try{
//         console.log('clicked')
//         console.log(id)
//         const url = 'http://localhost:5000/user/edit'
//         const options = {
//                 method:'POST',
//                 headers: {
//                     'Content-Type' : 'application/json'
//                 },
//                 redirect: `${url}`,
//                 body : JSON.stringify({
//                     id
//                 })
//             }
//         const res = await fetch(`${url}`, options)
//         const d = await res.json()
//         console.log(d)
//     }
//     catch(err) {
//         console.log(err)
//     }
// })
    
</script>
